/*
body {
	text-align: center;
	margin:0;
}

.mov {
    margin: 0;
    position: relative;
    right: 30%

}



.terminos {
	background:#f2f2f2;
	border:4px solid #ccc;
	border-radius: 5px;
	width: 80%;
	height: 70%;

}

.radiob {

    object-position: right;
}



.naveg {
    display: flex;
    color: rgba(255,255,255,.7);
    text-decoration: none;
}

.naveg-link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.naveg-link:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}



.textonor {
	color: black;
} */

.back {
    background: white;

}

.widthb {
    width: 80px;
}
